<table class="w-full">
  <tr>
    <td>
	<table>

  <tr>
    <td class="w-full sm-w-full text-center">
      <x-image
      class="w-[560px]"
      imgUrl="Hero-Image.png"
    />
    </td>
  </tr>
  <tr>
    <td><p class="text-[20px]">&nbsp;</p></td>
  </tr>	
	
<tr>
<td class="text-[#005555] text-[24px] leading-[27.6px] text-center font-bold px-5">
         Excepteur sint occaecat cupidatat 
      </td>	

</tr>
	
  <tr>
    <td><p class="text-[20px]">&nbsp;</p></td>
  </tr>	
	
		
<tr>
<td class="text-[#444444] text-[16px] leading-[18.4px] text-center px-5">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  
      </td>	

</tr>

  <tr>
    <td><p class="text-[20px]">&nbsp;</p></td>
  </tr>	
	
		
<tr>
<td class="justify-items-center">
<table class="w-full sm-w-full">
<tr>
<td class="text-[#FFFFFF] text-[20px] leading-[23px] text-center font-bold">
	<x-button class="bg-[#ffffff]" href="#" target="_blank">
 Ut enim ad minim veniam
</x-button>
</td>
</tr>	
</table>	
</td>		
</tr>
		
  <tr>
    <td><p class="text-[40px]">&nbsp;</p></td>
  </tr>	
	</table>
	  
	</td>
  </tr>
</table>
