<table class="w-full">
  <tr>
    <td class="bg-[#F0F5F5] px-5">
	<table class="w-full">
     
<tr>
    <td><p class="text-[30px]">&nbsp;</p></td>
  </tr>	
		
	<tr>
	<td class="text-[#005555] text-[24px] leading-[27.6px] text-center font-bold"> Sint cupidatat occaecat ut</td>	
	</tr>
		
		
	  <tr>
    <td><p class="text-[30px]">&nbsp;</p></td>
  </tr>	
		
		
	<tr>
	<td class="text-center">
	<table class="w-full">
	<tr>
	<td class="w-[270px] sm:w-full sm:inline-block text-center bg-[#ffffff]">
	<table class="w-full">
		
	<tr>
	<td><p class="text-[15px]">&nbsp;</p></td>
	</tr>
	<tr>
	<td class="text-center">
		 <x-image
              class="w-[110px]"
              imgUrl="icon.png"
            />
	</td>	
	</tr>
	<tr>
	<td><p class="text-[15px]">&nbsp;</p></td>
	</tr>
		
	<tr>
	<td class="text-[#005555] text-[20px] leading-[23px] text-center font-bold">Nisi ut ade</td>	
	</tr>
	<tr>
	<td><p class="text-[15px]">&nbsp;</p></td>
	</tr>
	<tr>
    <td class="text-[#444444] text-[16px] leading-[18.4px] text-center px-4">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<sup>1</sup>
      </td>	
   </tr>	
	<tr>
	<td><p class="text-[20px]">&nbsp;</p></td>
	</tr>	
	</table>	
		
	</td>
		
	<td class="sm:w-full sm:inline-block"><p class="text-[15px] w-[15px] ">&nbsp;</p></td>
		

	<td class="w-[270px] sm:w-full sm:inline-block text-center bg-[#ffffff]">
	<table class="w-full">
		
	<tr>
	<td><p class="text-[15px]">&nbsp;</p></td>
	</tr>
	<tr>
	<td class="text-center">
		 <x-image
              class="w-[110px]"
              imgUrl="icon.png"
            />
	</td>	
	</tr>
	<tr>
	<td><p class="text-[15px]">&nbsp;</p></td>
	</tr>
		
	<tr>
	<td class="text-[#005555] text-[20px] leading-[23px] text-center font-bold">Duis aute irure</td>	
	</tr>
	<tr>
	<td><p class="text-[15px]">&nbsp;</p></td>
	</tr>
	<tr>
    <td class="text-[#444444] text-[16px] leading-[18.4px] text-center px-4">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<sup>2</sup>
      </td>	
   </tr>	
	<tr>
	<td><p class="text-[20px]">&nbsp;</p></td>
	</tr>	
	</table>	
		
	</td>
		
	</tr>	
	</table>	
	</td>	
    </tr>
		
		
	 <tr>
    <td><p class="text-[35px]">&nbsp;</p></td>
  </tr>	
		
	</table>  
	  
	</td>
  </tr>
</table>
